1- Write a program to access the third element from the given list. Input: [10, 20, 30, 40, 50] Output: 30

In [1]:
lst = [10, 20, 30, 40, 50]
print(lst[2])

30

2 Write a program to access the last element from the given list using negative indexing. Input: ['apple', 'banana', 'cherry', 'date'] Output: date

In [2]:
lst = ['apple', 'banana', 'cherry', 'date']
print(lst[-1])

date

3 Write a program to change the second element to 100 in the given list.
Input: [5, 10, 15, 20, 25]
Output: [5, 100, 15, 20, 25]

In [3]:
lst = [5, 10, 15, 20, 25]
lst[1] = 100
print(lst)

[5, 100, 15, 20, 25]

4 Write a program to access the first element using negative indexing.
Input: [7, 14, 21, 28, 35]
Output: 7

In [4]:
lst=[7, 14, 21, 28, 35]
print(lst[-5])

7

5 Write a program to access the second last element from the given list.
Input: [1, 2, 3, 4, 5, 6]
Output: 5

In [5]:
lst = [1, 2, 3, 4, 5, 6]
print(lst[-2])

5

Slicing Questions


6 Write a program to extract the first three elements from the given list.
Input: [100, 200, 300, 400, 500, 600]
Output: [100, 200, 300]

In [7]:
lst = [100, 200, 300, 400, 500, 600]
print(lst[:3])

[100, 200, 300]

7 Write a program to extract all elements except the first two from the given list.
Input: [2, 4, 6, 8, 10, 12]
Output: [6, 8, 10, 12]

In [8]:
lst = [2, 4, 6, 8, 10, 12]
print(lst[2:])

[6, 8, 10, 12]

8 Write a program to extract every alternate element from the given list.
Input: [5, 10, 15, 20, 25, 30, 35]
Output: [5, 15, 25, 35]

In [9]:
lst = [5, 10, 15, 20, 25, 30, 35]
print(lst[::2])

[5, 15, 25, 35]


9 Write a program to reverse the given list using slicing.
Input: [1, 3, 5, 7, 9]
Output: [9, 7, 5, 3, 1]

In [10]:
lst = [1, 3, 5, 7, 9]
print(lst[::-1])

[9, 7, 5, 3, 1]

10 Write a program to extract elements from index 2 to 5 from the given list.
Input: [11, 22, 33, 44, 55, 66, 77]
Output: [33, 44, 55, 66]

In [11]:
lst = [11, 22, 33, 44, 55, 66, 77]
print(lst[2:6])

[33, 44, 55, 66]


Nested Slicing Questions

11 Write a program to access the second element from the first nested list.
Input: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Output: 2

In [12]:
lst = [[1,2,3],[4,5,6],[7,8,9]]
print(lst[0][1])

2

12 Write a program to extract the last element from the last nested list.
Input: [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]
Output: i

In [13]:
lst = [['a','b','c'], ['d','e','f'], ['g','h','i']]
print(lst[-1][-1])

i